gdit/
copies/
user/
releases/
secret-key.txt
usnuclearcodes.txt
midget_porn/
resources/gdit.res
more_midget_porn/
oh_boy_im_glad_no_one_is_reading_what_files_ive_hidden_from_my_boss_teehee.png
ludicrous_amounts_of_midget_hentai/
gdit.exe
gdit-gui.exe
ccl.txt